dist
cabal-dev
*.o
*.o.prof
*.hi
*.chi
*.chs.h
.virthualenv
.dist-buildwrapper
.project
.settings
*.swp
src/Algos2
src/Algos2.aux
src/Algos2.hp
src/Algos2.pdf
src/Algos2.prof
src/Algos2.ps
src/Algos3
src/Algos3.aux
src/Algos3.hp
src/Algos3.pdf
src/Algos3.prof
src/Algos3.ps
